@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: blue;
  --color-secondary: teal;
}

.overlay-bg {
  background: rgba(252, 252, 252);
  background: linear-gradient(
    253deg,
    rgba(255, 255, 255, 0) 11%,
    rgba(0, 0, 0, 1) 99%,
    rgba(17, 17, 17, 1) 100%
  );
}
